body {
    margin: auto;
    background-color: #1E1E2E;
    font-family: 'Jetbrains Mono';
    font-size: 22px;
    color: white;
}

.header-container {
    display: flex;
    padding: 1vw 15vw;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1vw;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    gap: 1vw;
    margin-left: auto;
}

.overview {
    padding: 5vw 20vw;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer-container {
    margin-top: auto;
    padding: 1vw 15vw;
}